:root{--time: .3s;}
*{margin: 0; padding: 0; box-sizing: border-box;}
body{overflow-y: hidden;}
.container{
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background: linear-gradient(-30deg,rgba(10,20,30,.6),rgba(0,0,5,1));
}
.nav{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: 20px 60px;
	display: flex;
	z-index: 2;
}
.nav p{
	text-transform: uppercase;
	color: #fff;	
	flex-basis: 90%;
	line-height: 40px;
	font-size: 1.2rem;
}
.nav .bar{
	flex-basis: 10%;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: all var(--time);
}
.nav .bar .ham{
	width: max(30%,30px);
	height: 2px;
	background: #fff;
	position: relative;
}
.nav .bar .ham::before{
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	background: #fff;
	transform: translateY(-10px);
}
.nav .bar .ham::after{
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	background: #fff;
	transform: translateY(10px);
}
.nav .bar.active .ham{
	background: #107896;
	filter: brightness(200%);
}
.main{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: url(l.jpg) center/cover;
	transform-origin: left;
	transition: all var(--time);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column;
	color: #fff;
	perspective: 1000px;
	transform-style: preserve-3d;
	z-index: 1;
}
.main h2{
	color: #107896;
	font-size: calc(3vw + 3rem);
	filter: brightness(230%);
	letter-spacing: .1em;
	font-family: sans-serif;
}
.main a{
	/* background: rgba(0,0,210,.9); */
	background: #107896;
	width: 300px;
	padding: 20px;
	border-radius: 80px;
	letter-spacing: .3em;
	text-decoration: none;
	text-align: center;
	color: #fff;
	font-size: 1.2rem;
	margin-top: 20px;
}
.main.active{
	transform: perspective(1000px) scale(.6) rotateY(10deg) translateZ(100px) translateX(300px);
	box-shadow: 1px 0px 40px 10px rgba(255,255,255,.2);
}
.container nav{
	position: absolute;
	top: 150px;
	right: 40px;
	width: 200px;
}
.container nav ul{
	list-style: none;
}	
.container nav ul li a{
	display: block;
	text-decoration: none;
	padding: 20px 0;
	color: #fff;
	font-family: sans-serif;
	text-transform: uppercase;
	letter-spacing: .1em;
	opacity: 0;
	transform: translateY(10px);
	transition: all var(--time) var(--i);
}
.container.active nav ul li a{
	opacity: 1;
	transform: translateY(0px);
}
.fa{
	margin-right: 10px;
}
